.client-list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.client-list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: $md) {
  .client-list {
    width: 300px;
  }
  .client-list li {
    margin-right: 0;
  }
}
