.contacts-write {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: $black;

  a {
    color: $greyLight;
  }
}

.contacts-write__title {
  color: $greyLight;
}

@media (max-width: $md) {
  .contacts-write {
    width: 100%;
  }
}
