.contacts-call {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: $yellow;
}

.contacts-call__title {
  color: $grey;
}

@media (max-width: $md) {
  .contacts-call {
    padding: 20px 8px;
    width: 100%;
  }
}
