.contacts {
  display: flex;
}

.contacts__title {
  margin: 20px auto;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  font-family: $link-font;
}

@media (max-width: $md) {
  .contacts {
    flex-direction: column;
    align-items: center;
  }
}