.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list__item {
  width: 172px;
  padding: 0 5px;
  font-family: $link-font;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  border-right: 1px solid $greyLight;

  &:last-child {
    border: none;
  }
}

@media (max-width: $md) {
  .event-list__item {
    width: 154px;

    &:nth-child(2n) {
      border: none;
    }
  }
}
