.gallery {
  background-color: $black;
  color: $greyLight;
}

.gallery__title {
  margin-top: 0;
  padding-top: 40px;
  color: $white;
}

.gallery__intro {
  margin: auto;
  margin-bottom: 10px;
  width: $mdUp;
}

@media (max-width: $mdUp) {
  .gallery__intro {
    width: $md;
  }
}

@media (max-width: $md) {
  .gallery__intro {
    width: 300px;
  }
}
