.gallery {
  background-color: $black;
  color: $greyLight;

  &_agents {
    padding-bottom: 20px;
  }
}

.gallery__title {
  margin-top: 0;
  padding-top: 40px;
  color: $white;
}

.gallery__intro,
.gallery__intro-list {
  margin: auto;
  margin-bottom: 10px;
  width: $mdUp;
}

.gallery__intro-list {
  padding-left: 25px;
  list-style: disc;
}

.gallery__agents-text {
  width: 600px;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: $black;
  background-color: rgba($yellow, 0.8);
}

@media (max-width: $mdUp) {
  .gallery__intro,
  .gallery__intro-list {
    width: $md;
  }
}

@media (max-width: $md) {
  .gallery__intro,
  .gallery__intro-list {
    width: 300px;
  }

  .gallery__agents-text {
    width: 300px;
    font-size: 16px;
  }
}
