.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px;
  background-color: $black;
  background-image: url("./../img/backgrounds/index.webp");
  background-size: cover;
  background-position: center top;
}

.header__title {
  margin-top: auto;
}

.header__invite-button {
  margin: auto;
  text-shadow: none;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media (max-width: $md) {
  .header {
    background-image: url("./../img/backgrounds/index1.webp");
    background-size: cover;
    background-position: 70% top;
  }
}
