.headings {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  text-shadow: 0 17px 21px $black, 3px 0 25px $black, -3px 0 14px $black, -19px -36px 23px $black;
}

.headings__description {
  color: $white;
  font-family: $link-font;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.headings__main-title {
  margin-top: 25px;
  color: $white;
  font-family: $heading-font;
  font-size: 80px;
  font-weight: 600;
}

@media (max-width: $md) {
  .headings__description {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1;
  }
  .headings__main-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 45px;
    line-height: 0.85;
  }
  .headings__icon {
    width: 86px;
    height: 43px;
  }
}
