.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px;
  background-color: $black;
  background-image: url("./../img/background.jpg");
  background-size: cover;
  background-position: center bottom;
}

.header__title {
  margin-top: auto;
}

.header__invite-button {
  margin: auto;
  text-shadow: none;
}
