.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 182px;
  height: 65px;
}

.logo__img {
  width: 182px;
  height: 55px;
}

@media (max-width: $md) {
  .logo {
    height: 45px;
    width: 117px;
  }
  .logo__img {
    width: 117px;
    height: 32px;
  }
}
