.page__header {
  margin: 0;
}

.page__footer {
  margin: auto;
}

.page__main {
  &_about,
  &_clients {
    margin: auto;
  }
}

@media (max-width: $md) {
  .page__main {
    &_about,
    &_clients {
      padding: 0 5px;
    }
  }
}
