.program-params-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 600px;
  margin: 20px auto 0;
  padding-bottom: 20px;
}

.program-params-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.program-params-list__parameter {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: $yellow;
}

@media (max-width: $md) {
  .program-params-list {
    width: auto;
    justify-content: center;
  }
  .program-params-list__item {
    width: 50%;
    margin-bottom: 20px;
  }
  .program-params-list__parameter {
    font-size: 11px;
  }
}
