.slider {
  position: relative;
  width: 930px;
  padding-bottom: 50px;
  user-select: none; /* Чтобы при перетаскивании слайда ничего не выделить внутри него */
  touch-action: pan-y; /* Чтобы запретить скролл страницы, если слайдер движется по X */
}
.slider-track {
  display: flex;
  padding: 0;
}
.slider-list {
  width: 930px;
  overflow: hidden;
}
.slider .slide {
  flex-shrink: 0;
  margin-right: 10px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .slide img {
  pointer-events: none;
  object-fit: cover;
  width: 300px;
  border: none;
  box-shadow: none;
}

.slider__arrows {
  &_prev,
  &_next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 32px;
    transition: 1s ease;
    color: yellow;

    background: none;
    border: 1px solid white;
  }

  &_prev {
    left: -100px;
    border-radius: 5px 0 0 5px;
  }

  &_next {
    right: -100px;
    border-radius: 0 5px 5px 0;
  }

  &_prev.disabled,
  &_next.disabled {
    opacity: 0.25;
    pointer-events: none;
  }

  &_prev:hover,
  &_next:hover {
    background-color: yellow;
    color: black;
  }
}

/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Шкала */
.slider__scale {
  width: 50%;
  height: 12px;
  margin: auto;
  margin-top: 30px;
  border: 2px solid $yellow;
}

.slider__fullness {
  width: 0;
  height: 8px;
  background-color: $yellow;
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
