html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  box-sizing: border-box;
}

a {
  font-family: $link-font;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

h2 {
  font-size: 46px;
  font-family: $heading-font;
  font-weight: 800;
  text-align: center;
  color: $black;
}

ul {
  list-style: none;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}

body {
  background-color: $white;
  color: $grey;
  font-family: $main-font;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
