// sizes
$sm: 320px;
$md: 768px;
$lg: 1280px;

// colors
$black: #000000;
$white: #ffffff;
$yellow: #cfc91d;
$gray: #cccccc;

//fonts
$main-font: "Lato", "Arial", sans-serif;
$link-font: "OpenSans", "Arial", sans-serif;
