// sizes
$sm: 320px;
$md: 768px;
$mdUp: 1080px;
$lg: 1280px;

// colors
$black: #000000;
$white: #ffffff;
$yellow: #cfc91d;
$grey: #333333;
$greyLight: #cccccc;

//fonts
$main-font: "Lato", "Arial", sans-serif;
$link-font: "Open Sans", "Arial", sans-serif;
$heading-font: "Playfair Display", "Arial", serif;
